th.rotated-text {
    height: 220px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text > div {
    transform:
        translate(10px, 90px)
        rotate(271deg);
    width: 30px;
}

th.rotated-text > div > span {
    padding: 5px 1px;
}	



th.rotated-text2 {
    width: 230px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text2 > div {
    transform:
        translate(10px, 90px)
        rotate(271deg);
    width: 30px;
}

th.rotated-text2 > div > span {
    padding: 5px 1px;
}	



.moveall::after {
  content: attr(title);
  
}

.removeall::after {
  content: attr(title);
}


