                				<div class="col-lg-1">
                			  </div>	                      	
                        <div class="row col-lg-10 d-flex align-items-center bg-soft-light-green rounded" style="display:block">	
                          <div class="col-lg-6 mb-5">
                            <div class="row col-lg-12">
                              <div class="col-lg-10 h6 text-secondary mt-4 font-weight-bold">Job Information</div>       
                            </div>     	
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Title</div>
                              <div class="col-lg-9" id="jt_found"></div>
                            </div>    	
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Grade</div>
                              <div class="col-lg-9" id="jg_found"></div>
                            </div> 
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Job Family</div>
                              <div class="col-lg-9" id="js_found"></div>
                            </div>             	
                          </div>
                          <div class="col-lg-6 mb-5">
                            <div class="row col-lg-12">
                              <div class="col-lg-10 h6 text-secondary mt-4 font-weight-bold">Person Information</div>       
                            </div>     	
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Name</div>
                              <div class="col-lg-9" id="pn_found"></div>
                            </div>    	
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Grade</div>
                              <div class="col-lg-9" id="pg_found"></div>
                            </div> 
                            <div class="row col-lg-12 text-secondary">
                              <div class="col-lg-3 font-weight-bold">Profile Job Family</div>
                              <div class="col-lg-9" id="ps_found"></div>
                            </div>             	
                          </div>
                        </div>
	                      	