<!--begin::Modal-->
    <div class="modal fade" id="ModalSizeXl" tabindex="-1" role="dialog" aria-labelledby="ModalSizeXl" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Comparation : </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                	<div id="modal_content" data-scroll="true" data-height="500">    
                		
                         <div class="form-group row">
               						  <div class="col-lg-6 mt-0">
          <!--begin::Card-->
          <div class="card card-custom" id="tool_tabs">
          	<div class="card-header card-header-tabs-line">
          		<div class="card-toolbar">
          			<ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
          				<li class="nav-item mr-3">
          					<a class="nav-link active" id="tab_jp" data-toggle="tab" href="#kt_apps_projects_view_tab_jp" >
                      <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                      <span class="nav-text font-weight-bold">Master</span>            						
          					</a>
          				</li>
          			</ul>
          		</div>
          	</div>

          	<div class="card-body px-0">
          		<div class="tab-content pt-1">				
          			<!--begin::Tab Content-->
          			<div class="tab-pane active bg-light-primary rounded p-5" id="kt_apps_projects_view_tab_jp" role="tabpanel">
          				<div class="container" >

                      	<div class="form-group row">                         		
                          <div class="col-lg-12"> <!-- d-flex flex-column flex-grow-1  !-->                         	                 			                                          
            			         	    
            			         	  <p><label class="h6 text-secondary ml-2 font-weight-bold ml-2 mt-1" id="jp_jobselected_titlexx">Job Name: Corporate Secretary</label><br>
            			         	     <label class="text-secondary ml-2" id="jp_jobselected_gradexx">Job Grade: 21</label></p>                        				                     			        	                  	  	 	       						      						 					                     			                 	  	 
                          </div>                                                                     		
                      	</div>  
                      	<div class="form-group row">                         		
                          <div class="col-lg-6"> <!-- d-flex flex-column flex-grow-1  !-->                         	                 			                                          
            			         	    
            			         	  <p><label class="h6 text-secondary ml-2 font-weight-bold ml-2" id="jp_jobselected_titlexx">Skill</label><br>
            			         	     <label class="text-secondary ml-2" id="jp_jobselected_gradexx">Finance Management - FMA</label></p>                        				                     			        	                  	  	 	       						      						 					                     			                 	  	 
                          </div>   
                          <div class="col-lg-6"> <!-- d-flex flex-column flex-grow-1  !-->                         	                 			                                          
            			         	    
            			         	  <p><label class="h6 text-secondary ml-2 font-weight-bold ml-2" id="jp_jobselected_titlexx">Sub Skill</label><br>
            			         	     <label class="label-dot text-secondary ml-2" id="jp_jobselected_gradexx">Accounting</label></p>                        				                     			        	                  	  	 	       						      						 					                     			                 	  	 
                          </div>                                                                                             		
                      	</div>   
                      	
                    <div class="example-preview">
                        <table class="table table-striped mb-6">
                            <thead>
                                <tr>
                                    <th scope="col">Competency</th>
                                    <th scope="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insurance Management</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>General Accounting</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Fixed Asset Accounting</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Financial Reporting</td>
                                    <td>2</td>
                                </tr>                                
                            </tbody>
                        </table>

                      
                    </div>                   	                     	
             					 	                  					 
          				</div>	
          			</div>
          			<!--end::Tab Content-->
          		</div>
          	</div>
          </div>
          <!--end::Card-->   
                      
                							
            
                						</div>
                						 
                						<div class="col-lg-6 mt-0">
                							

          <!--begin::Card-->
          <div class="card card-custom" id="tool_tabs">
          	<div class="card-header card-header-tabs-line">
          		<div class="card-toolbar">
          			<ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
          				<li class="nav-item mr-3">
          					<a class="nav-link active" id="tab_jp" data-toggle="tab" href="#kt_apps_projects_view_tab_jp" >
                      <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                      <span class="nav-text font-weight-bold">Compare-1</span>            						
          					</a>
          				</li>
          				<li class="nav-item mr-3">
          					<a class="nav-link" id="tab_pj" data-toggle="tab" href="#kt_apps_projects_view_tab_pj" >
                      <span class="nav-icon"><i class="flaticon2-rocket-1"></i></span>
                      <span class="nav-text font-weight-bold">Compare-2</span>
          					</a>
          				</li>
          				<li class="nav-item mr-3">
          					<a class="nav-link" id="tab_jj" data-toggle="tab" href="#kt_apps_projects_view_tab_jj" >
                      <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                      <span class="nav-text font-weight-bold">Compare-3</span>
          					</a>
          				</li>
          			</ul>
          		</div>
          	</div>

          	<div class="card-body px-0">
          		<div class="tab-content pt-1">				
          			<!--begin::Tab Content-->
          			<div class="tab-pane active" id="kt_apps_projects_view_tab_jp" role="tabpanel">
          				<div class="container">
                      	<div class="form-group row">                         		
                      
            			         	  <label class="col-lg-3 h6 text-secondary font-weight-bold mt-2" id="jp_jobselected_titlexx">Job Name :</label>
            			         	   
            			        <div class="col-lg-9"> 	   
            			         	   <select class="form-control" id="job_idx" name="job_idx" ></select><!-- form-control-select2 !-->                      				                     			        	                  	  	 	       						      						 					                     			                 	  	 
                          </div>                                                                     		
                      	</div>                 					 	                  					 
          				</div>	
          			</div>
          			<!--end::Tab Content-->

          			<!--begin::Tab Content-->
          			<div class="tab-pane" id="kt_apps_projects_view_tab_pj" role="tabpanel">
          				<div class="container">
compare-2                    					 	                  					 
          				</div>	
          			</div>
          			<!--end::Tab Content-->

          			<!--begin::Tab Content-->
          			<div class="tab-pane" id="kt_apps_projects_view_tab_jj" role="tabpanel">
          				<div class="container">
compare-3   
          				</div>				
          			</div>
          			<!--end::Tab Content-->
          		</div>
          	</div>
          </div>
          <!--end::Card-->   
                      
                							
                							
                							
                							
                            </div>
                         </div>                  		
                		          	                                                		
                	</div>	                                     
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                  <!--  <button type="button" class="btn btn-primary font-weight-bold">Action</button> !-->
                </div>
            </div>
        </div>
    </div>
<!--end::Modal--> 